[Unit]
Description=PiACS Access Control Edge Engine
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/admin/PiACS-EDGE
ExecStart=/home/admin/PiACS-EDGE/piacs-edge-engine
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
